<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--NameServerAddress Ip-->
  <add key="NameServerServerAddress" value="127.0.0.1:10071" />
  <add key="NameServerAddressList" value="127.0.0.1:10071" />
  <add key="BrokerProducerServiceAddress" value="127.0.0.1:9072" />
  <add key="BrokerConsumerServiceAddress" value="127.0.0.1:9073" />
  <add key="BrokerAdminServiceAddress" value="127.0.0.1:9074" />
  <add key="BrokerGroup" value="BrokerGroup" />
  <add key="BrokerName" value="Broker2" />
  <add key="CommandServiceProcessorAddress" value="127.0.0.1:9001" />
  <add key="EqueueStorePath" value="C:\Lottery\EqueueStore" />

  <add key="RedisServiceAddress" value="192.168.31.115:6379" />

 
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>