<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
	<!--NameServerAddress Ip-->
	<add key="NameServerServerAddress" value="127.0.0.1:10090"/>
	<add key="NameServerAddressList" value="127.0.0.1:10091"/>
	<add key="BrokerProducerServiceAddress" value="127.0.0.1:10092"/>
	<add key="BrokerConsumerServiceAddress" value="127.0.0.1:10093"/>
	<add key="BrokerAdminServiceAddress" value="127.0.0.1:10094"/>
	
	<add key="EqueueStorePath" value="D:\Lottery\EqueueStore"/>
</appSettings>