<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
	<!--NameServerAddress Ip-->
	<add key="NameServerIp" value="127.0.0.1"/>
	<add key="BrokerProducerServiceIp" value="127.0.0.1"/>
	<add key="BrokerConsumerServiceIp" value="127.0.0.1"/>
	<add key="BrokerAdminServiceIp" value="127.0.0.1"/>
	
	<add key="EqueueStorePath" value="D:\Lottery\EqueueStore"/>
</appSettings>