<connectionStrings>
	<add name="enode" connectionString="Data Source=127.0.0.1;Integrated Security=true;Initial Catalog=Lottery_ENode;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Async=True" providerName="System.Data.SqlClient" />
	<add name="lottery" connectionString="Data Source=127.0.0.1;Integrated Security=true;Initial Catalog=LotteryV01;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Async=True" providerName="System.Data.SqlClient" />
	<add name="forecastlottery" connectionString="Data Source=127.0.0.1;Integrated Security=true;Initial Catalog=ForecastLottery;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Async=True" providerName="System.Data.SqlClient" />
</connectionStrings>